:root {
  --width-hairline: 1px;
  --width-md: 2px;
  --brand-primary-100: #ffc2cd;
  --brand-primary-200: #f8a7b5;
  --brand-primary-300: #f294a5;
  --brand-primary-400: #db7889;
  --brand-primary-500: #d9697c;
  --brand-primary-600: #df5d74;
  --brand-primary-700: #bc4f62;
  --brand-primary-800: #b04255;
  --brand-primary-900: #9c3446;
  --brand-secondary-100: #aae7e8;
  --brand-secondary-200: #94d1d2;
  --brand-secondary-300: #83cecf;
  --brand-secondary-400: #74c9cb;
  --brand-secondary-500: #61b4b6;
  --brand-secondary-600: #4ea0a2;
  --brand-secondary-700: #3c8486;
  --brand-secondary-800: #33787a;
  --brand-secondary-900: #2a6a6b;
  --text-100: #fffff8;
  --text-200: #fffff5;
  --text-300: #fffef0;
  --text-400: #ffffee;
  --text-500: #fefde9;
  --text-600: #fffee7;
  --text-700: #fffee3;
  --text-800: #fffedc;
  --text-900: #fffed3;
  --surface-100: #2d374a;
  --surface-200: #232c3c;
  --surface-300: #202739;
  --surface-400: #191d2a;
  --surface-500: #161a26;
  --surface-600: #0d121b;
  --surface-700: #0a0e14;
  --surface-800: #06080d;
  --surface-900: #05070b;
  --neutral-100: #c4cee2;
  --neutral-200: #bcc5d8;
  --neutral-300: #abb4c7;
  --neutral-400: #9ca2b0;
  --neutral-500: #838995;
  --neutral-600: #70747d;
  --neutral-700: #4f5258;
  --neutral-800: #3d3f44;
  --neutral-900: #2e3034;
  --status-success-100: #d6ffd8;
  --status-success-200: #c4ffc7;
  --status-success-300: #b3ffb7;
  --status-success-400: #a9ffad;
  --status-success-500: #96ff9b;
  --status-success-600: #83ff8a;
  --status-success-700: #5de664;
  --status-success-800: #48bc4f;
  --status-success-900: #2e9634;
  --status-error-100: #ff9090;
  --status-error-200: #f37878;
  --status-error-300: #de6e6e;
  --status-error-400: #d45b5b;
  --status-error-500: #b94848;
  --status-error-600: #8b3333;
  --status-error-700: #702424;
  --status-error-800: #551c1c;
  --status-error-900: #3b0d0d;
  --status-warning-100: #ffbe90;
  --status-warning-200: #f8b17e;
  --status-warning-300: #f9a970;
  --status-warning-400: #ee995c;
  --status-warning-500: #ea9050;
  --status-warning-600: #da752d;
  --status-warning-700: #c46623;
  --status-warning-800: #aa571c;
  --status-warning-900: #92440d;
  --status-info-100: #c5e4ff;
  --status-info-200: #9cbfdd;
  --status-info-300: #71a6d4;
  --status-info-400: #5996cb;
  --status-info-500: #417eb4;
  --status-info-600: #316ea4;
  --status-info-700: #266296;
  --status-info-800: #174f7f;
  --status-info-900: #103c62;
  --text-lighter: var(--text-100);
  --text-base: var(--text-300);
  --text-darker: var(--text-500);
  --surface-lighter: var(--surface-400);
  --surface-base: var(--surface-600);
  --surface-darker: var(--surface-800);
  --content-light: #202739;
  --content-base: #161a26;
  --content-dark: #0a0e14;
  --heading-lighter: var(--brand-primary-200);
  --heading-base: var(--brand-primary-400);
  --heading-darker: var(--brand-primary-500);
  --status-success: var(--status-success-500);
  --status-error: var(--status-error-500);
  --status-warning: var(--status-warning-500);
  --status-info: var(--status-info-500);
  --accent-primary: var(--brand-primary-300);
  --accent-secondary: var(--brand-secondary-300);
  --fontfamilies-signal: Signal;
  --fontfamilies-noir-pro: Noir Pro;
  --lineheights-0: normal;
  --lineheights-1: normal;
  --lineheights-2: normal;
  --lineheights-3: normal;
  --lineheights-4: normal;
  --lineheights-5: normal;
  --lineheights-6: normal;
  --lineheights-7: normal;
  --lineheights-8: normal;
  --lineheights-9: normal;
  --lineheights-10: normal;
  --lineheights-11: normal;
  --fontweights-signal-0: Bold;
  --fontweights-signal-1: Normal;
  --fontweights-signal-2: ExtraBold;
  --fontweights-noir-pro-3: Light;
  --paragraphspacing-0: 0;
  --paragraphspacing-1: 0;
  --paragraphspacing-2: 0;
  --paragraphspacing-3: 0;
  --paragraphspacing-4: 0;
  --paragraphspacing-5: 0;
  --paragraphspacing-6: 0;
  --paragraphspacing-7: 0;
  --paragraphspacing-8: 0;
  --paragraphspacing-9: 0;
  --paragraphspacing-10: 0;
  --paragraphspacing-11: 0;
  --textcase-none: none;
  --textdecoration-none: none;
  --paragraphindent-0: 0px;
  --breakpoints-xs: 360px;
  --breakpoints-sm: 480px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1440px;
  --radius-xl: 1.25rem;
  --radius-none: 0rem;
  --radius-lg: 0.75rem;
  --radius-md: 0.5rem;
  --radius-xs: 0.188rem;
  --radius-sm: 0.312rem;
  --radius-pill: 624.938rem;
  --size-4xs: 0.5rem;
  --size-3xs: 0.75rem;
  --size-2xs: 1rem;
  --size-sm: 1.5rem;
  --size-md: 2rem;
  --size-5xs: 0.25rem;
  --size-lg: 2.5rem;
  --size-xl: 3rem;
  --size-xs: 1.25rem;
  --size-2xl: 3.5rem;
  --size-3xl: 4rem;
  --size-4xl: 5rem;
  --size-5xl: 6rem;
  --space-none: 0rem;
  --space-4xs: 0.25rem;
  --space-3xs: 0.5rem;
  --space-2xs: 0.75rem;
  --space-xs: 1rem;
  --space-sm: 1.25rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 2.5rem;
  --space-2xl: 3rem;
  --space-3xl: 4rem;
  --space-4xl: 5rem;
  --font-size-body-xs: 0.75rem;
  --font-size-body-xl: 1.25rem;
  --font-size-body-md: 1rem;
  --font-size-h6: 1.375rem;
  --font-size-h4: 1.625rem;
  --font-size-body-sm: 0.875rem;
  --font-size-h1: 2.25rem;
  --font-size-h5: 1.5rem;
  --font-size-h3: 1.75rem;
  --font-size-body-lg: 1.125rem;
  --font-size-h2: 2rem;
  --font-size-display: 3rem;
  --letter-spacing-xl: 0.25rem;
  --letter-spacing-lg: 0.156rem;
  --letter-spacing-sm: 0.062rem;
  --letter-spacing-md: 0.094rem;
  --letter-spacing-xs: 0.031rem;
  --letter-spacing-xxs: 0.016rem;
  --letter-spacing-xxl: 0.375rem;
  --surface-lightest: var(--surface-300);
  --surface-light: var(--surface-500);
  --surface-dark: var(--surface-700);
  --surface-darkest: var(--surface-900);
  --text-light: var(--text-200);
  --text-dark: var(--text-400);
  --border-base: var(--surface-400);
  --border-light: var(--surface-300);
  --border-dark: var(--surface-500);
  --heading-light: var(--brand-primary-300);
  --heading-dark: var(--brand-primary-400);
  --heading-darkest: var(--brand-primary-600);
  --heading-lightest: var(--brand-primary-100);
  --spacing-padding-container: var(--space-md);
  --spacing-margin-section: var(--space-lg);
  --spacing-gutter-grid: var(--space-md);
  --spacing-gap-grid: var(--space-sm);
  --sizing-component-height-sm: var(--size-lg);
  --sizing-component-height-md: var(--size-xl);
  --sizing-component-height-lg: var(--size-2xl);
  --sizing-component-height-xs: var(--size-md);
  --gird-gutter-sm: var(--space-xs);
  --grid-gutter-sm: var(--space-xs);
  --gird-gutter-lg: var(--space-lg);
  --grid-gutter-lg: var(--space-lg);
  --gird-gutter-xs: var(--space-2xs);
  --grid-gutter-xs: var(--space-2xs);
  --gird-gutter-xl: var(--space-lg);
  --grid-gutter-xl: var(--space-lg);
  --gird-gutter-2xl: var(--space-xl);
  --grid-gutter-2xl: var(--space-xl);
  --gird-gutter-md: var(--space-md);
  --grid-gutter-md: var(--space-md);
  --gird-gap-xs: var(--space-3xs);
  --grid-gap-xs: var(--space-3xs);
  --gird-gap-sm: var(--space-2xs);
  --grid-gap-sm: var(--space-2xs);
  --gird-gap-md: var(--space-xs);
  --grid-gap-md: var(--space-xs);
  --gird-gap-lg: var(--space-sm);
  --grid-gap-lg: var(--space-sm);
  --gird-gap-xl: var(--space-md);
  --grid-gap-xl: var(--space-md);
  --gird-gap-2xl: var(--space-lg);
  --grid-gap-2xl: var(--space-lg);
  --gird-columns-xs: 0.25rem;
  --grid-columns-xs: 0.25rem;
  --gird-columns-sm: 0.375rem;
  --grid-columns-sm: 0.375rem;
  --gird-columns-md: 0.5rem;
  --grid-columns-md: 0.5rem;
  --gird-columns-lg: 0.75rem;
  --grid-columns-lg: 0.75rem;
  --gird-columns-xl: 0.75rem;
  --grid-columns-xl: 0.75rem;
  --gird-columns-2xl: 0.75rem;
  --grid-columns-2xl: 0.75rem;
  --component-height-sm: var(--size-lg);
  --component-height-md: var(--size-xl);
  --component-height-lg: var(--size-2xl);
  --component-height-xs: var(--size-md);
  --component-height-xl: var(--size-3xl);
  --breakpoint-xs: var(--breakpoints-xs);
  --breakpoint-sm: var(--breakpoints-sm);
  --breakpoint-md: var(--breakpoints-md);
  --breakpoint-lg: var(--breakpoints-lg);
  --breakpoint-xl: var(--breakpoints-xl);
  --breakpoint-2xl: var(--breakpoints-2xl);
  --container-max-md: 45rem;
  --container-max-lg: 60rem;
  --container-max-sm: 27.5rem;
  --container-max-xs: 22.5rem;
  --container-max-xl: 70rem;
  --container-max-2xl: 80rem;
  --container-pad-x-xs: var(--space-xs);
  --container-pad-x-sm: var(--space-sm);
  --container-pad-x-md: var(--space-md);
  --container-pad-x-lg: var(--space-lg);
  --container-pad-x-xl: var(--space-xl);
  --container-pad-x-2xl: var(--space-2xl);
  --section-margin-y-xs: var(--space-sm);
  --section-margin-y-sm: var(--space-md);
  --section-margin-y-md: var(--space-lg);
  --section-margin-y-lg: var(--space-xl);
  --section-margin-y-xl: var(--space-2xl);
  --section-margin-y-2xl: var(--space-3xl);
  --core-color-core-brand-primary-100: #ffc2cd;
  --core-color-core-brand-primary-200: #f8a7b5;
  --core-color-core-brand-primary-300: #f294a5;
  --core-color-core-brand-primary-400: #db7889;
  --core-color-core-brand-primary-500: #d9697c;
  --core-color-core-brand-primary-600: #df5d74;
  --core-color-core-brand-primary-700: #bc4f62;
  --core-color-core-brand-primary-800: #b04255;
  --core-color-core-brand-primary-900: #9c3446;
  --core-color-core-brand-secondary-100: #aae7e8;
  --core-color-core-brand-secondary-200: #94d1d2;
  --core-color-core-brand-secondary-300: #83cecf;
  --core-color-core-brand-secondary-400: #74c9cb;
  --core-color-core-brand-secondary-500: #61b4b6;
  --core-color-core-brand-secondary-600: #4ea0a2;
  --core-color-core-brand-secondary-700: #3c8486;
  --core-color-core-brand-secondary-800: #33787a;
  --core-color-core-brand-secondary-900: #2a6a6b;
  --core-color-core-text-100: #fffff8;
  --core-color-core-text-200: #fffff5;
  --core-color-core-text-300: #fffef0;
  --core-color-core-text-400: #ffffee;
  --core-color-core-text-500: #fefde9;
  --core-color-core-text-600: #fffee7;
  --core-color-core-text-700: #fffee3;
  --core-color-core-text-800: #fffedc;
  --core-color-core-text-900: #fffed3;
  --core-color-core-surface-100: #2d374a;
  --core-color-core-surface-200: #232c3c;
  --core-color-core-surface-300: #202739;
  --core-color-core-surface-400: #191d2a;
  --core-color-core-surface-500: #161a26;
  --core-color-core-surface-600: #0d121b;
  --core-color-core-surface-700: #0a0e14;
  --core-color-core-surface-800: #06080d;
  --core-color-core-surface-900: #05070b;
  --core-color-core-neutral-100: #c4cee2;
  --core-color-core-neutral-200: #bcc5d8;
  --core-color-core-neutral-300: #abb4c7;
  --core-color-core-neutral-400: #9ca2b0;
  --core-color-core-neutral-500: #838995;
  --core-color-core-neutral-600: #70747d;
  --core-color-core-neutral-700: #4f5258;
  --core-color-core-neutral-800: #3d3f44;
  --core-color-core-neutral-900: #2e3034;
  --core-color-core-status-success-100: #d6ffd8;
  --core-color-core-status-success-200: #c4ffc7;
  --core-color-core-status-success-300: #b3ffb7;
  --core-color-core-status-success-400: #a9ffad;
  --core-color-core-status-success-500: #96ff9b;
  --core-color-core-status-success-600: #83ff8a;
  --core-color-core-status-success-700: #5de664;
  --core-color-core-status-success-800: #48bc4f;
  --core-color-core-status-success-900: #2e9634;
  --core-color-core-status-error-100: #ff9090;
  --core-color-core-status-error-200: #f37878;
  --core-color-core-status-error-300: #de6e6e;
  --core-color-core-status-error-400: #d45b5b;
  --core-color-core-status-error-500: #b94848;
  --core-color-core-status-error-600: #8b3333;
  --core-color-core-status-error-700: #702424;
  --core-color-core-status-error-800: #551c1c;
  --core-color-core-status-error-900: #3b0d0d;
  --core-color-core-status-warning-100: #ffbe90;
  --core-color-core-status-warning-200: #f8b17e;
  --core-color-core-status-warning-300: #f9a970;
  --core-color-core-status-warning-400: #ee995c;
  --core-color-core-status-warning-500: #ea9050;
  --core-color-core-status-warning-600: #da752d;
  --core-color-core-status-warning-700: #c46623;
  --core-color-core-status-warning-800: #aa571c;
  --core-color-core-status-warning-900: #92440d;
  --core-color-core-status-info-100: #c5e4ff;
  --core-color-core-status-info-200: #9cbfdd;
  --core-color-core-status-info-300: #71a6d4;
  --core-color-core-status-info-400: #5996cb;
  --core-color-core-status-info-500: #417eb4;
  --core-color-core-status-info-600: #316ea4;
  --core-color-core-status-info-700: #266296;
  --core-color-core-status-info-800: #174f7f;
  --core-color-core-status-info-900: #103c62;
  --core-color-core-text-lighter: #fffff8;
  --core-color-core-text-base: #fffff5;
  --core-color-core-text-darker: #fffef0;
  --core-color-core-surface-lighter: #0d121b;
  --core-color-core-surface-base: #0a0e14;
  --core-color-core-surface-darker: #06080d;
  --core-color-core-content-light: #202739;
  --core-color-core-content-base: #161a26;
  --core-color-core-content-dark: #0a0e14;
  --core-color-core-heading-lighter: #f8a7b5;
  --core-color-core-heading-base: #f294a5;
  --core-color-core-heading-darker: #db7889;
  --core-color-core-heading-display-fontfamily: var(--fontfamilies-signal);
  --core-color-core-heading-display-fontweight: var(--fontweights-signal-0);
  --core-color-core-heading-display-lineheight: var(--lineheights-0);
  --core-color-core-heading-display-fontsize: var(--font-size-display);
  --core-color-core-heading-display-letterspacing: var(--letter-spacing-sm);
  --core-color-core-heading-display-paragraphspacing: var(--paragraphspacing-0);
  --core-color-core-heading-display-paragraphindent: var(--paragraphindent-0);
  --core-color-core-heading-display-textcase: var(--textcase-none);
  --core-color-core-heading-display-textdecoration: var(--textdecoration-none);
  --core-color-core-heading-h1-fontfamily: var(--fontfamilies-signal);
  --core-color-core-heading-h1-fontweight: var(--fontweights-signal-1);
  --core-color-core-heading-h1-lineheight: var(--lineheights-0);
  --core-color-core-heading-h1-fontsize: var(--font-size-h1);
  --core-color-core-heading-h1-letterspacing: var(--letter-spacing-sm);
  --core-color-core-heading-h1-paragraphspacing: var(--paragraphspacing-0);
  --core-color-core-heading-h1-paragraphindent: var(--paragraphindent-0);
  --core-color-core-heading-h1-textcase: var(--textcase-none);
  --core-color-core-heading-h1-textdecoration: var(--textdecoration-none);
  --core-color-core-heading-h2-fontfamily: var(--fontfamilies-signal);
  --core-color-core-heading-h2-fontweight: var(--fontweights-signal-1);
  --core-color-core-heading-h2-lineheight: var(--lineheights-0);
  --core-color-core-heading-h2-fontsize: var(--font-size-h2);
  --core-color-core-heading-h2-letterspacing: var(--letter-spacing-sm);
  --core-color-core-heading-h2-paragraphspacing: var(--paragraphspacing-0);
  --core-color-core-heading-h2-paragraphindent: var(--paragraphindent-0);
  --core-color-core-heading-h2-textcase: var(--textcase-none);
  --core-color-core-heading-h2-textdecoration: var(--textdecoration-none);
  --core-color-core-heading-h3-fontfamily: var(--fontfamilies-signal);
  --core-color-core-heading-h3-fontweight: var(--fontweights-signal-0);
  --core-color-core-heading-h3-lineheight: var(--lineheights-0);
  --core-color-core-heading-h3-fontsize: var(--font-size-h3);
  --core-color-core-heading-h3-letterspacing: var(--letter-spacing-sm);
  --core-color-core-heading-h3-paragraphspacing: var(--paragraphspacing-0);
  --core-color-core-heading-h3-paragraphindent: var(--paragraphindent-0);
  --core-color-core-heading-h3-textcase: var(--textcase-none);
  --core-color-core-heading-h3-textdecoration: var(--textdecoration-none);
  --core-color-core-heading-h4-fontfamily: var(--fontfamilies-signal);
  --core-color-core-heading-h4-fontweight: var(--fontweights-signal-0);
  --core-color-core-heading-h4-lineheight: var(--lineheights-0);
  --core-color-core-heading-h4-fontsize: var(--font-size-h4);
  --core-color-core-heading-h4-letterspacing: var(--letter-spacing-sm);
  --core-color-core-heading-h4-paragraphspacing: var(--paragraphspacing-0);
  --core-color-core-heading-h4-paragraphindent: var(--paragraphindent-0);
  --core-color-core-heading-h4-textcase: var(--textcase-none);
  --core-color-core-heading-h4-textdecoration: var(--textdecoration-none);
  --core-color-core-heading-h5-fontfamily: var(--fontfamilies-signal);
  --core-color-core-heading-h5-fontweight: var(--fontweights-signal-2);
  --core-color-core-heading-h5-lineheight: var(--lineheights-0);
  --core-color-core-heading-h5-fontsize: var(--font-size-h5);
  --core-color-core-heading-h5-letterspacing: var(--letter-spacing-sm);
  --core-color-core-heading-h5-paragraphspacing: var(--paragraphspacing-0);
  --core-color-core-heading-h5-paragraphindent: var(--paragraphindent-0);
  --core-color-core-heading-h5-textcase: var(--textcase-none);
  --core-color-core-heading-h5-textdecoration: var(--textdecoration-none);
  --core-color-core-heading-h6-fontfamily: var(--fontfamilies-signal);
  --core-color-core-heading-h6-fontweight: var(--fontweights-signal-2);
  --core-color-core-heading-h6-lineheight: var(--lineheights-0);
  --core-color-core-heading-h6-fontsize: var(--font-size-h6);
  --core-color-core-heading-h6-letterspacing: var(--letter-spacing-xs);
  --core-color-core-heading-h6-paragraphspacing: var(--paragraphspacing-0);
  --core-color-core-heading-h6-paragraphindent: var(--paragraphindent-0);
  --core-color-core-heading-h6-textcase: var(--textcase-none);
  --core-color-core-heading-h6-textdecoration: var(--textdecoration-none);
  --core-color-core-status-success: #96ff9b;
  --core-color-core-status-error: #b94848;
  --core-color-core-status-warning: #ea9050;
  --core-color-core-status-info: #417eb4;
  --core-color-core-accent-primary: #db7889;
  --core-color-core-accent-secondary: #74c9cb;
  --core-color-core-elevation-component-xl-color: #00000040;
  --core-color-core-elevation-component-xl-type: dropShadow;
  --core-color-core-elevation-component-xl-x: 24;
  --core-color-core-elevation-component-xl-y: 24;
  --core-color-core-elevation-component-xl-blur: 48;
  --core-color-core-elevation-component-lg-color: #00000040;
  --core-color-core-elevation-component-lg-type: dropShadow;
  --core-color-core-elevation-component-lg-x: 12;
  --core-color-core-elevation-component-lg-y: 12;
  --core-color-core-elevation-component-lg-blur: 24;
  --core-color-core-elevation-component-md-color: #00000040;
  --core-color-core-elevation-component-md-type: dropShadow;
  --core-color-core-elevation-component-md-x: 6;
  --core-color-core-elevation-component-md-y: 6;
  --core-color-core-elevation-component-md-blur: 12;
  --core-color-core-elevation-component-sm-color: #00000040;
  --core-color-core-elevation-component-sm-type: dropShadow;
  --core-color-core-elevation-component-sm-x: 3;
  --core-color-core-elevation-component-sm-y: 3;
  --core-color-core-elevation-component-sm-blur: 6;
  --core-color-core-elevation-component-xs-color: #00000040;
  --core-color-core-elevation-component-xs-type: dropShadow;
  --core-color-core-elevation-component-xs-x: 1;
  --core-color-core-elevation-component-xs-y: 1;
  --core-color-core-elevation-component-xs-blur: 3;
  --core-color-core-elevation-container-xl-color: #00000040;
  --core-color-core-elevation-container-xl-type: dropShadow;
  --core-color-core-elevation-container-xl-x: 45;
  --core-color-core-elevation-container-xl-y: 45;
  --core-color-core-elevation-container-xl-blur: 80;
  --core-color-core-elevation-container-lg-color: #00000040;
  --core-color-core-elevation-container-lg-type: dropShadow;
  --core-color-core-elevation-container-lg-x: 35;
  --core-color-core-elevation-container-lg-y: 35;
  --core-color-core-elevation-container-lg-blur: 60;
  --core-color-core-elevation-container-md-color: #00000040;
  --core-color-core-elevation-container-md-type: dropShadow;
  --core-color-core-elevation-container-md-x: 20;
  --core-color-core-elevation-container-md-y: 20;
  --core-color-core-elevation-container-md-blur: 40;
  --core-color-core-elevation-container-sm-color: #00000040;
  --core-color-core-elevation-container-sm-type: dropShadow;
  --core-color-core-elevation-container-sm-x: 10;
  --core-color-core-elevation-container-sm-y: 10;
  --core-color-core-elevation-container-sm-blur: 25;
  --core-color-core-elevation-container-xs-color: #00000040;
  --core-color-core-elevation-container-xs-type: dropShadow;
  --core-color-core-elevation-container-xs-x: 5;
  --core-color-core-elevation-container-xs-y: 5;
  --core-color-core-elevation-container-xs-blur: 15;
  --core-color-core-fontfamilies-signal: Signal;
  --core-color-core-fontfamilies-noir-pro: Noir Pro;
  --core-color-core-lineheights-0: AUTO;
  --core-color-core-lineheights-1: AUTO;
  --core-color-core-lineheights-2: AUTO;
  --core-color-core-lineheights-3: AUTO;
  --core-color-core-lineheights-4: AUTO;
  --core-color-core-lineheights-5: AUTO;
  --core-color-core-lineheights-6: AUTO;
  --core-color-core-lineheights-7: AUTO;
  --core-color-core-lineheights-8: AUTO;
  --core-color-core-lineheights-9: AUTO;
  --core-color-core-lineheights-10: AUTO;
  --core-color-core-lineheights-11: AUTO;
  --core-color-core-fontweights-signal-0: Bold;
  --core-color-core-fontweights-signal-1: Normal;
  --core-color-core-fontweights-signal-2: ExtraBold;
  --core-color-core-fontweights-noir-pro-3: Light;
  --core-color-core-paragraphspacing-0: 0;
  --core-color-core-paragraphspacing-1: 0;
  --core-color-core-paragraphspacing-2: 0;
  --core-color-core-paragraphspacing-3: 0;
  --core-color-core-paragraphspacing-4: 0;
  --core-color-core-paragraphspacing-5: 0;
  --core-color-core-paragraphspacing-6: 0;
  --core-color-core-paragraphspacing-7: 0;
  --core-color-core-paragraphspacing-8: 0;
  --core-color-core-paragraphspacing-9: 0;
  --core-color-core-paragraphspacing-10: 0;
  --core-color-core-paragraphspacing-11: 0;
  --core-color-core-body-xl-fontfamily: var(--fontfamilies-noir-pro);
  --core-color-core-body-xl-fontweight: var(--fontweights-noir-pro-3);
  --core-color-core-body-xl-lineheight: var(--lineheights-0);
  --core-color-core-body-xl-fontsize: var(--font-size-body-xl);
  --core-color-core-body-xl-letterspacing: var(--letter-spacing-sm);
  --core-color-core-body-xl-paragraphspacing: var(--paragraphspacing-0);
  --core-color-core-body-xl-paragraphindent: var(--paragraphindent-0);
  --core-color-core-body-xl-textcase: var(--textcase-none);
  --core-color-core-body-xl-textdecoration: var(--textdecoration-none);
  --core-color-core-body-lg-fontfamily: var(--fontfamilies-noir-pro);
  --core-color-core-body-lg-fontweight: var(--fontweights-noir-pro-3);
  --core-color-core-body-lg-lineheight: var(--lineheights-0);
  --core-color-core-body-lg-fontsize: var(--font-size-body-lg);
  --core-color-core-body-lg-letterspacing: var(--letter-spacing-xs);
  --core-color-core-body-lg-paragraphspacing: var(--paragraphspacing-0);
  --core-color-core-body-lg-paragraphindent: var(--paragraphindent-0);
  --core-color-core-body-lg-textcase: var(--textcase-none);
  --core-color-core-body-lg-textdecoration: var(--textdecoration-none);
  --core-color-core-body-md-fontfamily: var(--fontfamilies-noir-pro);
  --core-color-core-body-md-fontweight: var(--fontweights-noir-pro-3);
  --core-color-core-body-md-lineheight: var(--lineheights-0);
  --core-color-core-body-md-fontsize: var(--font-size-body-md);
  --core-color-core-body-md-letterspacing: var(--letter-spacing-xxs);
  --core-color-core-body-md-paragraphspacing: var(--paragraphspacing-0);
  --core-color-core-body-md-paragraphindent: var(--paragraphindent-0);
  --core-color-core-body-md-textcase: var(--textcase-none);
  --core-color-core-body-md-textdecoration: var(--textdecoration-none);
  --core-color-core-body-sm-fontfamily: var(--fontfamilies-noir-pro);
  --core-color-core-body-sm-fontweight: var(--fontweights-noir-pro-3);
  --core-color-core-body-sm-lineheight: var(--lineheights-0);
  --core-color-core-body-sm-fontsize: var(--font-size-body-sm);
  --core-color-core-body-sm-letterspacing: var(--letter-spacing-xxs);
  --core-color-core-body-sm-paragraphspacing: var(--paragraphspacing-0);
  --core-color-core-body-sm-paragraphindent: var(--paragraphindent-0);
  --core-color-core-body-sm-textcase: var(--textcase-none);
  --core-color-core-body-sm-textdecoration: var(--textdecoration-none);
  --core-color-core-body-xs-fontfamily: var(--fontfamilies-noir-pro);
  --core-color-core-body-xs-fontweight: var(--fontweights-noir-pro-3);
  --core-color-core-body-xs-lineheight: var(--lineheights-0);
  --core-color-core-body-xs-fontsize: var(--font-size-body-xs);
  --core-color-core-body-xs-letterspacing: var(--letter-spacing-xxs);
  --core-color-core-body-xs-paragraphspacing: var(--paragraphspacing-0);
  --core-color-core-body-xs-paragraphindent: var(--paragraphindent-0);
  --core-color-core-body-xs-textcase: var(--textcase-none);
  --core-color-core-body-xs-textdecoration: var(--textdecoration-none);
  --core-color-core-textcase-none: none;
  --core-color-core-textdecoration-none: none;
  --core-color-core-paragraphindent-0: 0px;
  --core-radius-core-radius-xl: 1.25rem;
  --core-radius-core-radius-none: 0rem;
  --core-radius-core-radius-lg: 0.75rem;
  --core-radius-core-radius-md: 0.5rem;
  --core-radius-core-radius-xs: 0.188rem;
  --core-radius-core-radius-sm: 0.312rem;
  --core-radius-core-radius-pill: 624.938rem;
  --core-typography-core-font-size-body-xs: 0.75rem;
  --core-typography-core-font-size-body-xl: 1.25rem;
  --core-typography-core-font-size-body-md: 1rem;
  --core-typography-core-font-size-h6: 1.375rem;
  --core-typography-core-font-size-h4: 1.625rem;
  --core-typography-core-font-size-body-sm: 0.875rem;
  --core-typography-core-font-size-h1: 2.25rem;
  --core-typography-core-font-size-h5: 1.5rem;
  --core-typography-core-font-size-h3: 1.75rem;
  --core-typography-core-font-size-body-lg: 1.125rem;
  --core-typography-core-font-size-h2: 2rem;
  --core-typography-core-font-size-display: 3rem;
  --core-typography-core-letter-spacing-xl: 0.25rem;
  --core-typography-core-letter-spacing-lg: 0.156rem;
  --core-typography-core-letter-spacing-sm: 0.062rem;
  --core-typography-core-letter-spacing-md: 0.094rem;
  --core-typography-core-letter-spacing-xs: 0.031rem;
  --core-typography-core-letter-spacing-xxs: 0.016rem;
  --core-typography-core-letter-spacing-xxl: 0.375rem;
  --core-sizing-core-size-4xs: 0.5rem;
  --core-sizing-core-size-3xs: 0.75rem;
  --core-sizing-core-size-2xs: 1rem;
  --core-sizing-core-size-sm: 1.5rem;
  --core-sizing-core-size-md: 2rem;
  --core-sizing-core-size-5xs: 0.25rem;
  --core-sizing-core-size-lg: 2.5rem;
  --core-sizing-core-size-xl: 3rem;
  --core-sizing-core-size-xs: 1.25rem;
  --core-sizing-core-size-2xl: 3.5rem;
  --core-sizing-core-size-3xl: 4rem;
  --core-sizing-core-size-4xl: 5rem;
  --core-sizing-core-size-5xl: 6rem;
  --core-spacing-core-space-none: 0rem;
  --core-spacing-core-space-4xs: 0.25rem;
  --core-spacing-core-space-3xs: 0.5rem;
  --core-spacing-core-space-2xs: 0.75rem;
  --core-spacing-core-space-xs: 1rem;
  --core-spacing-core-space-sm: 1.25rem;
  --core-spacing-core-space-md: 1.5rem;
  --core-spacing-core-space-lg: 2rem;
  --core-spacing-core-space-xl: 2.5rem;
  --core-spacing-core-space-2xl: 3rem;
  --core-spacing-core-space-3xl: 4rem;
  --core-spacing-core-space-4xl: 5rem;
  --core-layout-core-breakpoints-xs: 360;
  --core-layout-core-breakpoints-sm: 480;
  --core-layout-core-breakpoints-md: 768;
  --core-layout-core-breakpoints-lg: 1024;
  --core-layout-core-breakpoints-xl: 1280;
  --core-layout-core-breakpoints-2xl: 1440;
  --core-border-core-width-hairline: 1;
  --core-border-core-width-md: 2;
  --semantic-layout-core-spacing-padding-container: var(--space-md);
  --semantic-layout-core-spacing-margin-section: var(--space-lg);
  --semantic-layout-core-spacing-gutter-grid: var(--space-md);
  --semantic-layout-core-spacing-gap-grid: var(--space-sm);
  --semantic-layout-core-sizing-component-height-sm: var(--size-lg);
  --semantic-layout-core-sizing-component-height-md: var(--size-xl);
  --semantic-layout-core-sizing-component-height-lg: var(--size-2xl);
  --semantic-layout-core-sizing-component-height-xs: var(--size-md);
  --semantic-layout-core-gird-gutter-sm: var(--space-xs);
  --semantic-layout-core-grid-gutter-sm: var(--space-xs);
  --semantic-layout-core-gird-gutter-lg: var(--space-lg);
  --semantic-layout-core-grid-gutter-lg: var(--space-lg);
  --semantic-layout-core-gird-gutter-xs: var(--space-2xs);
  --semantic-layout-core-grid-gutter-xs: var(--space-2xs);
  --semantic-layout-core-gird-gutter-xl: var(--space-lg);
  --semantic-layout-core-grid-gutter-xl: var(--space-lg);
  --semantic-layout-core-gird-gutter-2xl: var(--space-xl);
  --semantic-layout-core-grid-gutter-2xl: var(--space-xl);
  --semantic-layout-core-gird-gutter-md: var(--space-md);
  --semantic-layout-core-grid-gutter-md: var(--space-md);
  --semantic-layout-core-gird-gap-xs: var(--space-3xs);
  --semantic-layout-core-grid-gap-xs: var(--space-3xs);
  --semantic-layout-core-gird-gap-sm: var(--space-2xs);
  --semantic-layout-core-grid-gap-sm: var(--space-2xs);
  --semantic-layout-core-gird-gap-md: var(--space-xs);
  --semantic-layout-core-grid-gap-md: var(--space-xs);
  --semantic-layout-core-gird-gap-lg: var(--space-sm);
  --semantic-layout-core-grid-gap-lg: var(--space-sm);
  --semantic-layout-core-gird-gap-xl: var(--space-md);
  --semantic-layout-core-grid-gap-xl: var(--space-md);
  --semantic-layout-core-gird-gap-2xl: var(--space-lg);
  --semantic-layout-core-grid-gap-2xl: var(--space-lg);
  --semantic-layout-core-gird-columns-xs: 0.25rem;
  --semantic-layout-core-grid-columns-xs: 0.25rem;
  --semantic-layout-core-gird-columns-sm: 0.375rem;
  --semantic-layout-core-grid-columns-sm: 0.375rem;
  --semantic-layout-core-gird-columns-md: 0.5rem;
  --semantic-layout-core-grid-columns-md: 0.5rem;
  --semantic-layout-core-gird-columns-lg: 0.75rem;
  --semantic-layout-core-grid-columns-lg: 0.75rem;
  --semantic-layout-core-gird-columns-xl: 0.75rem;
  --semantic-layout-core-grid-columns-xl: 0.75rem;
  --semantic-layout-core-gird-columns-2xl: 0.75rem;
  --semantic-layout-core-grid-columns-2xl: 0.75rem;
  --semantic-layout-core-component-height-sm: var(--size-lg);
  --semantic-layout-core-component-height-md: var(--size-xl);
  --semantic-layout-core-component-height-lg: var(--size-2xl);
  --semantic-layout-core-component-height-xs: var(--size-md);
  --semantic-layout-core-component-height-xl: var(--size-3xl);
  --semantic-layout-core-breakpoint-xs: var(--breakpoints-xs);
  --semantic-layout-core-breakpoint-sm: var(--breakpoints-sm);
  --semantic-layout-core-breakpoint-md: var(--breakpoints-md);
  --semantic-layout-core-breakpoint-lg: var(--breakpoints-lg);
  --semantic-layout-core-breakpoint-xl: var(--breakpoints-xl);
  --semantic-layout-core-breakpoint-2xl: var(--breakpoints-2xl);
  --semantic-layout-core-container-max-md: 45rem;
  --semantic-layout-core-container-max-lg: 60rem;
  --semantic-layout-core-container-max-sm: 27.5rem;
  --semantic-layout-core-container-max-xs: 22.5rem;
  --semantic-layout-core-container-max-xl: 70rem;
  --semantic-layout-core-container-max-2xl: 80rem;
  --semantic-layout-core-container-pad-x-xs: var(--space-xs);
  --semantic-layout-core-container-pad-x-sm: var(--space-sm);
  --semantic-layout-core-container-pad-x-md: var(--space-md);
  --semantic-layout-core-container-pad-x-lg: var(--space-lg);
  --semantic-layout-core-container-pad-x-xl: var(--space-xl);
  --semantic-layout-core-container-pad-x-2xl: var(--space-2xl);
  --semantic-layout-core-section-margin-y-xs: var(--space-sm);
  --semantic-layout-core-section-margin-y-sm: var(--space-md);
  --semantic-layout-core-section-margin-y-md: var(--space-lg);
  --semantic-layout-core-section-margin-y-lg: var(--space-xl);
  --semantic-layout-core-section-margin-y-xl: var(--space-2xl);
  --semantic-layout-core-section-margin-y-2xl: var(--space-3xl);
  --semantic-color-core-surface-lightest: var(--surface-300);
  --semantic-color-core-surface-lighter: var(--surface-400);
  --semantic-color-core-surface-light: var(--surface-500);
  --semantic-color-core-surface-base: var(--surface-600);
  --semantic-color-core-surface-dark: var(--surface-700);
  --semantic-color-core-surface-darker: var(--surface-800);
  --semantic-color-core-surface-darkest: var(--surface-900);
  --semantic-color-core-text-lighter: var(--text-100);
  --semantic-color-core-text-light: var(--text-200);
  --semantic-color-core-text-base: var(--text-300);
  --semantic-color-core-text-dark: var(--text-400);
  --semantic-color-core-text-darker: var(--text-500);
  --semantic-color-core-border-base: var(--surface-400);
  --semantic-color-core-border-light: var(--surface-300);
  --semantic-color-core-border-dark: var(--surface-500);
  --semantic-color-core-accent-primary: var(--brand-primary-300);
  --semantic-color-core-accent-secondary: var(--brand-secondary-300);
  --semantic-color-core-status-success: var(--status-success-500);
  --semantic-color-core-status-error: var(--status-error-500);
  --semantic-color-core-status-info: var(--status-info-500);
  --semantic-color-core-status-warning: var(--status-warning-500);
  --semantic-color-core-heading-base: var(--brand-primary-400);
  --semantic-color-core-heading-lighter: var(--brand-primary-200);
  --semantic-color-core-heading-light: var(--brand-primary-300);
  --semantic-color-core-heading-dark: var(--brand-primary-400);
  --semantic-color-core-heading-darker: var(--brand-primary-500);
  --semantic-color-core-heading-darkest: var(--brand-primary-600);
  --semantic-color-core-heading-lightest: var(--brand-primary-100);
}
