:root {
  --width-hairline: 1px;
  --width-md: 2px;
  --brand-primary-100: #ffc2cd;
  --brand-primary-200: #f8a7b5;
  --brand-primary-300: #f294a5;
  --brand-primary-400: #db7889;
  --brand-primary-500: #d9697c;
  --brand-primary-600: #df5d74;
  --brand-primary-700: #bc4f62;
  --brand-primary-800: #b04255;
  --brand-primary-900: #9c3446;
  --brand-secondary-100: #aae7e8;
  --brand-secondary-200: #94d1d2;
  --brand-secondary-300: #83cecf;
  --brand-secondary-400: #74c9cb;
  --brand-secondary-500: #61b4b6;
  --brand-secondary-600: #4ea0a2;
  --brand-secondary-700: #3c8486;
  --brand-secondary-800: #33787a;
  --brand-secondary-900: #2a6a6b;
  --text-100: #fffff8;
  --text-200: #fffff5;
  --text-300: #fffef0;
  --text-400: #ffffee;
  --text-500: #fefde9;
  --text-600: #fffee7;
  --text-700: #fffee3;
  --text-800: #fffedc;
  --text-900: #fffed3;
  --surface-100: #2d374a;
  --surface-200: #232c3c;
  --surface-300: #202739;
  --surface-400: #191d2a;
  --surface-500: #161a26;
  --surface-600: #0d121b;
  --surface-700: #0a0e14;
  --surface-800: #06080d;
  --surface-900: #05070b;
  --neutral-100: #c4cee2;
  --neutral-200: #bcc5d8;
  --neutral-300: #abb4c7;
  --neutral-400: #9ca2b0;
  --neutral-500: #838995;
  --neutral-600: #70747d;
  --neutral-700: #4f5258;
  --neutral-800: #3d3f44;
  --neutral-900: #2e3034;
  --status-success-100: #d6ffd8;
  --status-success-200: #c4ffc7;
  --status-success-300: #b3ffb7;
  --status-success-400: #a9ffad;
  --status-success-500: #96ff9b;
  --status-success-600: #83ff8a;
  --status-success-700: #5de664;
  --status-success-800: #48bc4f;
  --status-success-900: #2e9634;
  --status-error-100: #ff9090;
  --status-error-200: #f37878;
  --status-error-300: #de6e6e;
  --status-error-400: #d45b5b;
  --status-error-500: #b94848;
  --status-error-600: #8b3333;
  --status-error-700: #702424;
  --status-error-800: #551c1c;
  --status-error-900: #3b0d0d;
  --status-warning-100: #ffbe90;
  --status-warning-200: #f8b17e;
  --status-warning-300: #f9a970;
  --status-warning-400: #ee995c;
  --status-warning-500: #ea9050;
  --status-warning-600: #da752d;
  --status-warning-700: #c46623;
  --status-warning-800: #aa571c;
  --status-warning-900: #92440d;
  --status-info-100: #c5e4ff;
  --status-info-200: #9cbfdd;
  --status-info-300: #71a6d4;
  --status-info-400: #5996cb;
  --status-info-500: #417eb4;
  --status-info-600: #316ea4;
  --status-info-700: #266296;
  --status-info-800: #174f7f;
  --status-info-900: #103c62;
  --text-lighter: var(--text-100);
  --text-base: var(--text-300);
  --text-darker: var(--text-500);
  --surface-lighter: var(--surface-400);
  --surface-base: var(--surface-600);
  --surface-darker: var(--surface-800);
  --content-light: #202739;
  --content-base: #161a26;
  --content-dark: #0a0e14;
  --heading-lighter: var(--brand-primary-200);
  --heading-base: var(--brand-primary-400);
  --heading-darker: var(--brand-primary-500);
  --status-success: var(--status-success-500);
  --status-error: var(--status-error-500);
  --status-warning: var(--status-warning-500);
  --status-info: var(--status-info-500);
  --accent-primary: var(--brand-primary-300);
  --accent-secondary: var(--brand-secondary-300);
  --fontfamilies-signal: Signal;
  --fontfamilies-noir-pro: Noir Pro;
  --lineheights-0: normal;
  --lineheights-1: normal;
  --lineheights-2: normal;
  --lineheights-3: normal;
  --lineheights-4: normal;
  --lineheights-5: normal;
  --lineheights-6: normal;
  --lineheights-7: normal;
  --lineheights-8: normal;
  --lineheights-9: normal;
  --lineheights-10: normal;
  --lineheights-11: normal;
  --fontweights-signal-0: Bold;
  --fontweights-signal-1: Normal;
  --fontweights-signal-2: ExtraBold;
  --fontweights-noir-pro-3: Light;
  --paragraphspacing-0: 0;
  --paragraphspacing-1: 0;
  --paragraphspacing-2: 0;
  --paragraphspacing-3: 0;
  --paragraphspacing-4: 0;
  --paragraphspacing-5: 0;
  --paragraphspacing-6: 0;
  --paragraphspacing-7: 0;
  --paragraphspacing-8: 0;
  --paragraphspacing-9: 0;
  --paragraphspacing-10: 0;
  --paragraphspacing-11: 0;
  --textcase-none: none;
  --textdecoration-none: none;
  --paragraphindent-0: 0px;
  --breakpoints-xs: 360px;
  --breakpoints-sm: 480px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1440px;
  --radius-xl: 1.25rem;
  --radius-none: 0rem;
  --radius-lg: 0.75rem;
  --radius-md: 0.5rem;
  --radius-xs: 0.188rem;
  --radius-sm: 0.312rem;
  --radius-pill: 624.938rem;
  --size-4xs: 0.5rem;
  --size-3xs: 0.75rem;
  --size-2xs: 1rem;
  --size-sm: 1.5rem;
  --size-md: 2rem;
  --size-5xs: 0.25rem;
  --size-lg: 2.5rem;
  --size-xl: 3rem;
  --size-xs: 1.25rem;
  --size-2xl: 3.5rem;
  --size-3xl: 4rem;
  --size-4xl: 5rem;
  --size-5xl: 6rem;
  --space-none: 0rem;
  --space-4xs: 0.25rem;
  --space-3xs: 0.5rem;
  --space-2xs: 0.75rem;
  --space-xs: 1rem;
  --space-sm: 1.25rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 2.5rem;
  --space-2xl: 3rem;
  --space-3xl: 4rem;
  --space-4xl: 5rem;
  --font-size-body-xs: 0.75rem;
  --font-size-body-xl: 1.25rem;
  --font-size-body-md: 1rem;
  --font-size-h6: 1.375rem;
  --font-size-h4: 1.625rem;
  --font-size-body-sm: 0.875rem;
  --font-size-h1: 2.25rem;
  --font-size-h5: 1.5rem;
  --font-size-h3: 1.75rem;
  --font-size-body-lg: 1.125rem;
  --font-size-h2: 2rem;
  --font-size-display: 3rem;
  --letter-spacing-xl: 0.25rem;
  --letter-spacing-lg: 0.156rem;
  --letter-spacing-sm: 0.062rem;
  --letter-spacing-md: 0.094rem;
  --letter-spacing-xs: 0.031rem;
  --letter-spacing-xxs: 0.016rem;
  --letter-spacing-xxl: 0.375rem;
  --surface-lightest: var(--surface-300);
  --surface-light: var(--surface-500);
  --surface-dark: var(--surface-700);
  --surface-darkest: var(--surface-900);
  --text-light: var(--text-200);
  --text-dark: var(--text-400);
  --border-base: var(--surface-400);
  --border-light: var(--surface-300);
  --border-dark: var(--surface-500);
  --heading-light: var(--brand-primary-300);
  --heading-dark: var(--brand-primary-400);
  --heading-darkest: var(--brand-primary-600);
  --heading-lightest: var(--brand-primary-100);
  --spacing-padding-container: var(--space-md);
  --spacing-margin-section: var(--space-lg);
  --spacing-gutter-grid: var(--space-md);
  --spacing-gap-grid: var(--space-sm);
  --sizing-component-height-sm: var(--size-lg);
  --sizing-component-height-md: var(--size-xl);
  --sizing-component-height-lg: var(--size-2xl);
  --sizing-component-height-xs: var(--size-md);
  --gird-gutter-sm: var(--space-xs);
  --grid-gutter-sm: var(--space-xs);
  --gird-gutter-lg: var(--space-lg);
  --grid-gutter-lg: var(--space-lg);
  --gird-gutter-xs: var(--space-2xs);
  --grid-gutter-xs: var(--space-2xs);
  --gird-gutter-xl: var(--space-lg);
  --grid-gutter-xl: var(--space-lg);
  --gird-gutter-2xl: var(--space-xl);
  --grid-gutter-2xl: var(--space-xl);
  --gird-gutter-md: var(--space-md);
  --grid-gutter-md: var(--space-md);
  --gird-gap-xs: var(--space-3xs);
  --grid-gap-xs: var(--space-3xs);
  --gird-gap-sm: var(--space-2xs);
  --grid-gap-sm: var(--space-2xs);
  --gird-gap-md: var(--space-xs);
  --grid-gap-md: var(--space-xs);
  --gird-gap-lg: var(--space-sm);
  --grid-gap-lg: var(--space-sm);
  --gird-gap-xl: var(--space-md);
  --grid-gap-xl: var(--space-md);
  --gird-gap-2xl: var(--space-lg);
  --grid-gap-2xl: var(--space-lg);
  --gird-columns-xs: 0.25rem;
  --grid-columns-xs: 0.25rem;
  --gird-columns-sm: 0.375rem;
  --grid-columns-sm: 0.375rem;
  --gird-columns-md: 0.5rem;
  --grid-columns-md: 0.5rem;
  --gird-columns-lg: 0.75rem;
  --grid-columns-lg: 0.75rem;
  --gird-columns-xl: 0.75rem;
  --grid-columns-xl: 0.75rem;
  --gird-columns-2xl: 0.75rem;
  --grid-columns-2xl: 0.75rem;
  --component-height-sm: var(--size-lg);
  --component-height-md: var(--size-xl);
  --component-height-lg: var(--size-2xl);
  --component-height-xs: var(--size-md);
  --component-height-xl: var(--size-3xl);
  --breakpoint-xs: var(--breakpoints-xs);
  --breakpoint-sm: var(--breakpoints-sm);
  --breakpoint-md: var(--breakpoints-md);
  --breakpoint-lg: var(--breakpoints-lg);
  --breakpoint-xl: var(--breakpoints-xl);
  --breakpoint-2xl: var(--breakpoints-2xl);
  --container-max-md: 45rem;
  --container-max-lg: 60rem;
  --container-max-sm: 27.5rem;
  --container-max-xs: 22.5rem;
  --container-max-xl: 70rem;
  --container-max-2xl: 80rem;
  --container-pad-x-xs: var(--space-xs);
  --container-pad-x-sm: var(--space-sm);
  --container-pad-x-md: var(--space-md);
  --container-pad-x-lg: var(--space-lg);
  --container-pad-x-xl: var(--space-xl);
  --container-pad-x-2xl: var(--space-2xl);
  --section-margin-y-xs: var(--space-sm);
  --section-margin-y-sm: var(--space-md);
  --section-margin-y-md: var(--space-lg);
  --section-margin-y-lg: var(--space-xl);
  --section-margin-y-xl: var(--space-2xl);
  --section-margin-y-2xl: var(--space-3xl);
}
